html, body {
    margin: 0;
    padding: 0;
}
header {
    height: 52px;
    width: 100%;
    line-height: 52px;
    font-size: 16px;
    font-weight: bold;
    /*padding-left: 20px;*/
    background-color: rgb(238, 238, 238);
}
.title {
    float: left;
    margin-left: 20px;
}
.backward {
    float: right;
    margin-right: 20px;
}
.main {
    margin-top: 150px;
    width: 100%;
    text-align: center;
}